<%= form_with(model: perso_weap, local: true) do |form| %>
  <% if perso_weap.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(perso_weap.errors.count, "error") %> prohibited this perso_weap from being saved:</h2>

      <ul>
      <% perso_weap.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="field">
    <%= form.label :personnage_id %>

    <%= collection_select(:perso_weap, :personnage_id, Personnage.all, :id, :name, prompt: true) %>
  </div>


  <div class="field">
    <%= form.label :weapon_id %>
    <%= collection_select(:perso_weap, :weapon_id, Weapon.all, :id, :name, prompt: true) %>

  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
