<p id="notice"><%= notice %></p>

<h1>Perso Weaps</h1>

<table>
  <thead>
    <tr>
      <th>Personnage</th>
      <th>Weapon</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @perso_weaps.each do |perso_weap| %>
      <tr>
        <td><%= perso_weap.personnage_id %></td>
        <td><%= perso_weap.weapon_id %></td>
        <td><%= link_to 'Show', perso_weap %></td>
        <td><%= link_to 'Edit', edit_perso_weap_path(perso_weap) %></td>
        <td><%= link_to 'Destroy', perso_weap, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Perso Weap', new_perso_weap_path %>
