<!DOCTYPE html>
<html>
<head>
</head>
<body class="personnages">
<div class="container">

  <%= render partial: "personnages/index"%>



  <button id="show" style="float: right;" data-toggle="modal" data-target="#myModal"> New Perso</button>

  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">- Settings -</h4>
        </div>
        <div class="modal-body">
          <table>

            <tbody>
            <%= render partial: "personnages/form" , locals: {personnage: @personnage}%>
            </tbody>
          </table>

          <div class="modal-footer">
            <button type="button" class="follow-button" style="float: right;"  data-dismiss="modal">Close</button>

          </div>
        </div>
      </div>

    </div>
  </div>

  <%= render partial: "weapons/index"%>


  <button id="show" style="float: right;" data-toggle="modal" data-target="#weaponModal"> New Weapon</button>

  <div class="modal fade" id="weaponModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">- Settings -</h4>
        </div>
        <div class="modal-body">
          <table>

            <tbody>
            <%= render partial: "weapons/form" , locals: {weapon: @weapon}%>
            </tbody>
          </table>

          <div class="modal-footer">
            <button type="button" class="follow-button" style="float: right;"  data-dismiss="modal">Close</button>

          </div>
        </div>
      </div>

    </div>
  </div>

</div>

<div class="container">

  <%= form_tag perso_weaps_path do %>
      <% i = 1 %>
      <% @persos.each do |perso| %>
          <%= fields_for 'persos[]', perso do |p| %>

              <h1>Combattan <%= i%> </h1>
              <div class="field">

                <%= p.collection_select :personnage_id, Personnage.all, :id, :name %>
              </div>


              <div class="field">
                <%= p.collection_select :weapon_id, Weapon.all, :id, :name %>

              </div>
              <% i = i + 1 %>
          <% end %>

      <% end %>
      <div class="actions">
        <%= submit_tag %>
      </div>
  <% end %>

</div>
</body>
</html>